*/
!.*
!.*/*
.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.adobe/
.appcfg_cookies
.appcfg_nag
.bash_history
.cpan/
.cups/
.dropbox/
.fontconfig/
.lesshst
.pyhistory
.sqlite_history
.ssh/
.subversion/
.viminfo.tmp
.viminfo
