[user]
	name = Jonatan Littke
	email = jonatan.littke@gmail.com

[color]
    ui = auto

[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[branch]
	autosetuprebase = never
[alias]
  st = status
  ci = commit
  br = branch
  df = diff
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files

[push]
  default = current
