#Home/End
"\e[1~": beginning-of-line 
"\e[4~": end-of-line

#Ctrl-right Ctrl-Left 
"\e[5D": beginning-of-line
"\e[5C": end-of-line

#Word moving using Ctrl-key ? 
"\ef": forward-word
"\eb": backward-word
