# pair option :
snippet po:
	${1:variableName}: ${2:optionsName}.$1
# pair option =
snippet po=
	${1:variableName} = ${2:optionsName}.$1
# pair :
snippet p:
	${1:variableName}: $1
# pair =
snippet p=
	${1:variableName} = $1
#for indo
snippet forindo
	for ${1:name} in ${2:array}
	do ($1) ->
		${0:// body}
